.navbar {
  width: 100%;
  padding: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0f0f0f;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

.logo span {
  color: #ff4b4b;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li {
  font-size: 18px;
  transition: 0.3s;
}

.nav-links li:hover {
  color: #ff4b4b;
  cursor: pointer;
}
